{% extends "_base.html" %}
{% block title %}About Us{% endblock %}

{% block content %}

<h1>about</h1>
    
<h4>Dan Silvers</h4>
<h5 class="text-muted"><i>principal / founder</i></h5>

<p>Dan founded Silvers Networks while attending high school in 2003. The company has grown to serve hundreds of shared web hosting customers and a successful web development consulting business.</p>

<p>These days, Dan enjoys working on complex Django/Python projects, helping start-up companies achieve their dreams, and specializing in designing and developing back-end web services.</p>

<p class="about-links">
  <a href="mailto:dan@silvers.net"><i class="bi bi-envelope"></i> dan@silvers.net</a>
  <a href="tel:6083183337"><i class="bi bi-telephone"></i> (608) 318-3337</a>
  <a href="https://www.linkedin.com/in/dansilvers/" target="_blank"><i class="bi bi-linkedin"></i> LinkedIn</a>
  <a href="https://github.com/dsilvers" target="_blank"><i class="bi bi-github"></i> GitHub</a>
</p>

{% endblock %}