{% extends "_base.html" %}
{% block title %}About Us{% endblock %}

{% block content %}

<h1>about</h1>
    
<h4>Dan Silvers</h4>
<h5 class="text-muted"><i>principal / founder</i></h5>

<p>Dan founded Silvers Networks while attending high school in 2003. The company has grown to serve hundreds of shared web hosting customers and a successful web development consulting business.</p>

<p>These days, Dan enjoys working on complex Django/Python projects, helping start-up companies achieve their dreams, and specializing in designing and developing back-end web services.</p>

<div class="container about-links">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4">
    <div class="col">
      <a href="mailto:dan@silvers.net"><i class="bi bi-envelope"></i> dan@silvers.net</a>
    </div>
    <div class="col">
      <a href="https://www.linkedin.com/in/dansilvers/" target="_blank"><i class="bi bi-linkedin"></i> LinkedIn</a>
    </div>
    <div class="col">
      <a href="https://github.com/dsilvers" target="_blank"><i class="bi bi-github"></i> GitHub</a>
    </div>
  </div>
</div>

{% endblock %}