{% extends "_base.html" %}
{% block title %}Contact Us{% endblock %}

{% block content %}

<h1>contact</h1>
    
<h3>we would love to hear from you.</h3>

<h4>email:</h4> 
<h3><a href="mailto:hello@silvers.net">hello@silvers.net</a></h3>

<h4>phone:</h4>
<h3><a href="tel:6083183337">(608) 318-3337</a></h3>

<p class="" style="margin-top:3.5em;">
  Silvers Networks LLC is based in Madison, Wisconsin. Come visit us sometime.
</p>

<p></p>

<img src="/static/img/msn.jpg" class="img-fluid" alt="Madison, WI">

{% endblock %}