{% extends "_base.html" %}
{% block title %}Web Hosting{% endblock %}

{% block content %}

<h1>shared web hosting</h1>

<h3 class="mt-4">Web hosting starting at $80/year.</h3>

<h3 class="mt-4">Still at it. We have provided cPanel shared hosting services <i>since 2003</i>.</h3>

<h3 class="mt-4"><strong>We've apparently been doing this for awhile.</strong></h3>

<p class="mt-4">Our basic plan includes <strong>2 GB of RAID-backed storage</strong> and <strong>50 GB of network transfer</strong> <i>(per month)</i>. Additional storage, transfer, and other services available. Contact us for a custom quote.</p>

<p class="mt-4 mb-4">
  <a href="#"><button class="btn btn-success">Contact Us for an Account</button></a>
</p>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h4><i class="bi bi-menu-button-wide"></i> cPanel - Control Panel</h4>
      <p>Our shared hosting services utilize <a href="http://cpanel.net/website-owners/" target="_blank">cPanel</a> to manage all aspects of the service.</p>

      <h4><i class="bi bi-gear"></i> Automatic Script Installer</h4>
      <p>Our script installer will install <a href="http://wordpress.org" target="_blank">WordPress</a>, <a href="http://joomla.com" target="_blank">Joomla</a>, <a href="http://drupal.com" target="_blank">Drupal</a>, and hundreds of other scripts.</p>

      <h4><i class="bi bi-magic"></i> >99.95% uptime since 2003</h4>
      <p>Our shared hosting has a record of exceptional availability.</p>

      <h4><i class="bi bi-hdd"></i> Nightly backups</h4>
      <p>We take a snapshot of your files each night. Off-site backups are also utilized.</p>

      <h4><i class="bi bi-compass"></i> Domain registration services</h4>
      <p>Domain registrations and transfers available at $14/yr for most TLD's. Includes free privacy protection for supported TLD's.</p>
    </div>
    <div class="col-md-6">
      <h4><i class="bi bi-window-stack"></i> Host Multiple Domains</h4>
      <p>You can host up to ten additional domains in your account. If you need more, just ask.</p>

      <h4><i class="bi bi-lock"></i> SSL Certificates Included</h4>
      <p>Free SSL certificates for each domain on your account now included.</p>


      <h4><i class="bi bi-box-seam"></i> MariaDB (MySQL) Databases</h4>
      <p>Create as many databases as you need.</p>

      <h4><i class="bi bi-envelope-heart"></i> Unlimited email accounts, subdomains and FTP accounts</h4>
      <p>Create as many email accounts you require and access them using any IMAP or POP client, alternatively you can use our webmail. If you would rather, you can use <a href="http://www.google.com/intl/en/enterprise/apps/business/" target="_blank">Google Apps</a> or <a href="http://outlook.com" target="_blank">Microsoft Office365</a>.</p>
   
      <h4><i class="bi bi-person-video"></i> Friendly Support</h4>
      <p><a href="#">Personal support</a> is available around the clock.</p>
    </div>
  </div>
</div>

{% endblock %}