{% extends "_base.html" %}
{% block title %}Privacy Policy, Terms of Service{% endblock %}

{% block content %}

<h1>Legal Documents</h1>

<p>This document contains 3 sections:</p>

<ol>
<li><a href="#privacy">Privacy Policy</a></li>
<li><a href="#tos">Terms of Service</a></li>
<li><a href="#refunds">Refund Policy</a></li>
</ol>

<hr>


<div>

<h1><a name="privacy">Privacy Policy</a></h1>


<p>Effective 02/18/2011</p>
<p><small>NOTE: Reformatted for new website, updated Alternative Contact Methods, 04/14/2022</small></p>

<b>Our Commitment To Privacy</b>
<p>Your privacy is <i>extremely</i> important to us. To better protect your privacy we provide this notice explaining our online information practices and the choices you can make about the way your information is collected and used. To make this notice easy to find, we make it available on our homepage and at every point where personally identifiable information may be requested.</p>

<b>The Information We Collect:</b>
<p>This notice applies to all information collected or submitted on the http://silvers.net website. On some pages, you can order products, make requests, and register to receive materials. The types of personal information collected at these pages are:
<ul>
<li>Name</li>
<li>Address</li>
<li>Email address</li>
<li>Phone number</li>
<li>Credit/Debit Card Information</li>
<li>Alternative Contact Methods (Facebook Messenger, Twitter Direct Message, Texting, Google Chat, etc.)</li>
</ul>
</p>

<b>The Way We Use Information:</b>

<p>We use the information you provide about yourself when placing an order only to complete that order. <strong>We do not share this information with outside parties</strong>, except to the extent necessary to complete that order.</p>

<p>We use return email addresses to answer the email we receive. Such addresses are not used for any other purpose and are not shared with outside parties.</p>

<p>You can register with our website if you would like to receive our catalog as well as updates on our new products and services. Information you submit on our website will not be used for this purpose unless you fill out the registration form.</p>

<p>We use non-identifying and aggregate information to better design our website and to share with advertisers. For example, we may tell an advertiser that X number of individuals visited a certain area on our website, or that Y number of men and Z number of women filled out our registration form, but we would not disclose anything that could be used to identify those individuals.</p>

<p>Finally, <strong>we never use or share the personally identifiable information</strong> provided to us online in ways unrelated to the ones described above without also providing you an opportunity to opt-out or otherwise prohibit such unrelated uses.</p>

<b>Our Commitment To Data Security</b>

<p>To prevent unauthorized access, maintain data accuracy, and ensure the correct use of information, we have put in place appropriate physical, electronic, and managerial procedures to safeguard and secure the information we collect online.</p>

<b>Our Commitment To Children's Privacy:</b>

<p>Protecting the privacy of the very young is especially important. For that reason, we never collect or maintain information at our website from those we actually know are under 13, and no part of our website is structured to attract anyone under 13.</p>

<b>How You Can Access Or Correct Your Information</b>

<p>You can access all your personally identifiable information that we collect online and maintain by the provided online tools to do so. We use this procedure to better safeguard your information.</p>

<p>You can correct factual errors in your personally identifiable information by sending us a request that credibly shows error.</p>

<p>To protect your privacy and security, we will also take reasonable steps to verify your identity before granting access or making corrections.</p>

<b>How To Contact Us</b>
<p>Should you have other questions or concerns about these privacy policies, please call us at 608-318-3337 or send us an email at help@silvers.net.</p>

</div>





<hr>






<h1><a name="tos">Terms of Service</a></h1>

<div>

<p>Effective 02/18/2011</p>
<p><small>NOTE: Reformatted for new website, but left unchanged otherwise, 04/14/2022</small></p>

<p>The use of services from Silvers Networks LLC, [hereafter referred to as "Provider"] constitutes agreement to these terms.</p>

<b>1) Account Setup / Email on file</b><br/>
<p>We will setup your account after receipt of all required account information, payment receipt verification and the conclusion of all order & fraud screening processes. Providing false contact information of any kind may result in the termination of your account.</p>

<b>2) Content</b>
<p>All services provided by Provider may only be used for lawful purposes. The laws of the State of WISCONSIN, and the United States of America apply.</p>

<p>The customer agrees to indemnify and hold harmless Provider from any claims resulting from the use of our services.</p>

<p>Use of our services to infringe upon any copyright or trademark is prohibited. This includes but is not limited to unauthorized copying of music, books, photographs, or any other copyrighted work. The offer of sale of any counterfeit merchandise of a trademark holder will result in the immediate termination of your account. Any account found to be in violation of anothers copyright will be expeditiously removed, or access to the material disabled. Any account found to be in repeated violation of copyright laws will be suspended and/or terminated from our hosting.</p>

<p>Provider services, including all related equipment, networks and network devices are provided only for authorized customer use. Provider systems may be monitored for all lawful purposes, including to ensure that use is authorized, for management of the system, to facilitate protection against unauthorized access, and to verify security procedures, survivability, and operational security. During monitoring, information may be examined, recorded, copied and used for authorized purposes. Use of Provider system(s) constitutes consent to monitoring for these purposes.</p>

<p>We reserve the right to refuse service to anyone. Any material that, in our judgment, is obscene, threatening, illegal, or violates our terms of service in any manner may be removed from our servers (or otherwise disabled), with or without notice.</p>

<b>3) Payment Information</b>
<p>You agree to supply appropriate payment for the services received from Provider, in advance of the time period during which such services are provided. You agree that until and unless you notify Provider of your desire to cancel any or all services received, those services will be billed on a recurring basis.</p>

<p>Cancellations must be done in writing via the cancellation process provided. Once we receive your cancellation and have confirmed all necessary information with you via e-mail, we will inform you in writing (typically email) that your account has been canceled.</p>

<p>As a client of Provider, it is your responsibility to ensure that your payment information is up to date, and that all invoices are paid on time. Provider provides a thirty (30) day grace period from the time the invoice is generated and when it must be paid. Provider reserves the right to change the monthly payment amount and any other charges at anytime.</p>

<b>4) Cancellations and Refunds</b>
<p>Provider reserves the right to cancel the account at any time with or without notice. Violations of the Terms of Service will waive the refund policy.</p>

<b>5) Indemnification</b>
<p>Customer agrees that it shall defend, indemnify, save and hold Provider harmless from any and all demands, liabilities, losses, costs and claims, including reasonable attorney's fees asserted against Provider, its agents, its customers, officers and employees, that may arise or result from any service provided or performed or agreed to be performed or any product sold by customer, its agents, employees or assigns. Customer agrees to defend, indemnify and hold harmless Provider against liabilities arising out of; (1) any injury to person or property caused by any products sold or otherwise distributed in connection with Provider; (2) any material supplied by customer infringing or allegedly infringing on the proprietary rights of a third party; (3) copyright infringement and (4) any defective products sold to customers from Provider's server.</p>

<b>6) Arbitration</b>

<p>By using any Provider services, you agree to submit to binding arbitration. If any disputes or claims arise against Provider or its subsidiaries, such disputes will be handled by an arbitrator of Provider's choice. An arbitrator from the American Arbitration Association will be selected. Arbitrators shall be attorneys or retired judges and shall be selected pursuant to the applicable rules. All decisions rendered by the arbitrator will be binding and final. The arbitrator's award is final and binding on all parties. The Federal Arbitration Act, and not any state arbitration law, governs all arbitration under this Arbitration Clause. You are also responsible for any and all costs related to such arbitration.</p>

<b>7) Disclaimer</b>
<p>Provider shall not be responsible for any damages your business may suffer. Provider makes no warranties of any kind, expressed or implied for services we provide. Provider disclaims any warranty or merchantability or fitness for a particular purpose. This includes loss of data resulting from delays, no deliveries, wrong delivery, and any and all service interruptions caused by Provider and its employees.</p>

<b>8) Disclosure to law enforcement</b>
<p>Provider may disclose any subscriber information to law enforcement agencies without further consent or notification to the subscriber upon lawful request from such agencies. We will cooperate fully with law enforcement agencies.</p>

<b>9) Changes to the TOS</b>
<p>Provider reserves the right to revise its policies at any time without notice.</p>

<b>How To Contact Us</b>
<p>Should you have other questions or concerns about these privacy policies, please call us at 608-318-3337 or send us an email at help@silvers.net.</p>

</div>







<hr>





<h1><a name="refunds">Refund Policy</a></h1>

<div>

<strong>Web Hosting: 30-Day Risk-Free Guarantee</strong>
<p>Try our web hosting service risk free for 30 days. If you're not completely satisfied with the service, simply contact us at help@silvers.net to deactivate service within 30 days. We'll promptly refund any hosting related fees. If your order included a domain name, we may withold the costs of obtaining the domain name, however the domain is still yours to keep and transfer elsewhere.</p>

<strong>Domain Names: No Refunds or Exchanges</strong>
<p>Due to the nature of the service, we are not able to provide refunds or exchanges for domain names. Please be sure to double check the spelling, syntax and extension when ordering a domain name.</p>

<p>If you are unsatisfied with our web hosting service, you are welcome to transfer your domain name elsewhere. Please note that some domain names may not transferable until 30 days after registration or registrant contact update, this is an IANA restriction. Contact us at help@silvers.net if you have any questions regarding your domain names.</p>

{% endblock content %}