{% extends "_base.html" %}
{% block title %}Our Clients and Past Projects{% endblock %}

{% block content %}

<h1>previous work</h1>

<p>We are proud to provide Django web development consulting, Python coding, Wagtail CMS integration, advice, and other services to a variety of fine business, startups, and non-profits.</p>

<ul class="list-group previous-clients">
  <li><a href="https://www.nytimes.com/2007/11/18/technology/18digi.html">BFAds</a></li>
  <li><a href="https://www.capcityflyers.com">Capitol City Flyers</a></li>
  <li><a href="https://www.commemorativeairforce.org/" rel="nofollow">Commemorative Air Force</a></li>
  <li><a href="https://longbets.org">Long Bets</a></li>
  <li><a href="https://longnow.org">The Long Now Foundation</a></li>
  <li><a href="https://madisonrollerderby.org">Madison Roller Derby</a></li>
  <li><a href="#">Milker - The Dairy Decision Engine</a></li>
  <li><a href="https://www.punchthrough.com">Punch Through Design</a></li>
  <li><a href="https://www.rioaeroclub.com/">Rio Aero Club</a></li>
  <li><a href="https://www.roka.com" rel="nofollow">ROKA Sports</a></li>
  <li><a href="https://southramp.com">South Ramp</a></li>
  <li><a href="https://www.waunakeeairport.com">Waunakee Airport</a></li>
  <li><a href="https://www.wisoar.org">Wisconsin Soaring Society</a></li>
</ul>

{% endblock %}