{% extends "_base.html" %}
{% block title %}Custom Web Apps + Business Solutions{% endblock %}

{% block content %}

<h1>business solutions</h1>
    
<h4>Optimize Business Processes with Complete Custom Web Apps</h4>

<p>We build web tools tailored for your industry, data, and processes.</p>

<p><a href="https://www.djangoproject.com" target="_blank">Django web apps</a> can be developed in significantly less time, saving our clients <i>considerable</i> time and money. Django is an mature open-source framework that offers long-term stability and support.</p>

<ul class="biz-sol">
  <li><strong>Replace manual processes</strong> centered around spreadsheets with automatic flows and smart data management tools.</li>
  <li>Eliminate error prone manual data entry by <strong>streamlining business processes.</strong></li>
  <li>Easily convert paper forms to digital for enhanced record keeping, quick turnaround, and exceptional customer satisfaction.</li>
  <li><strong>Automate billing and increase customer retention</strong> by migrating to a modern credit card processor, such as <a href="https://stripe.com" target="_blank">Stripe</a>, which offers powerful recurring billing tools and amazing analytics.</li>
  <li>Migrate existing services to <strong>modern cloud providers</strong>, such as Amazon Web Services and Google Cloud.</li>
</ul>


<h4>Design, Build, Serve, and Consume APIs</h4>

<ul class="biz-sol">
  <li>API design utilizing REST, GraphQL, and other modern and legacy standards.</li>
  <li>Complex API's can utilize <a href="https://www.django-rest-framework.org/" target="_blank">Django REST Framework</a> for rapid development, tight integration into Django, custom authentication, and incredible flexibility with response formats.</li>
  <li>Simpler API's can be directly integrated and managed from Django, saving development costs.</li>
  <li>API Testing, a key step of the process, utilizing unit and integration tests.</li>
</ul>

{% endblock %}